In [1]:
import pandas as pd

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.feature_extraction.text import CountVectorizer

In [2]:
file = pd.read_csv("recommender_System (1).csv")

In [3]:
file.head()

,Similar_Users,User1_id,User1_post,user1_Tags,user2_id,User2_post,user2_Tags
0,"(5, 41808)",5,[5],machine-learning,41808,none,none
1,"(11, 26237)",11,[33025],machine-learning time-series data-science-model,26237,none,none
2,"(34, 31386)",34,[26631],deep-learning reinforcement-learning correlation,31386,none,none
3,"(36, 10841)",36,"[7, 1113]",education open-source bigdata clustering text-...,10841,none,none
4,"(38, 10088)",38,none,none,10088,[56129],scikit-learn learning-to-rank

In [4]:
list_ind = []
count = 0 
for i in range(len(file)):
    if (file['user1_Tags'][i] != 'none' ) & (file['user2_Tags'][i] != 'none') :
        list_ind.append(i)
        count += 1
#         print(file[i:(i+1)])
print(count)

340

In [5]:
file_1 = file.iloc[list_ind]
file_1 = file_1.reset_index()
file_1.head(5)

,index,Similar_Users,User1_id,User1_post,user1_Tags,user2_id,User2_post,user2_Tags
0,7,"(62, 8644)",62,[352],visualization,8644,[5471],r
1,9,"(66, 69546)",66,"[14, 26520]",data-mining definitions nlp stanford-nlp,69546,[47297],python bayesian scipy probabilistic-programming
2,10,"(75, 33176)",75,[5933],machine-learning data-mining dataset,33176,[19546],dataset statistics
3,68,"(456, 25500)",456,[253],bigdata apache-hadoop,25500,[17776],pytorch
4,77,"(554, 39974)",554,[52783],neural-network,39974,[23491],nlp

In [6]:
# file_1.head(20)
file_1['user2_Tags'][0]

'r'

In [7]:
# %%time

# user2_tags_list = file_1['user2_Tags'].tolist()

# df_col = []

# l = len(file_1)

# for i in range(l):
#     user2_tags_list.append(file_1['user1_Tags'][i])
#     vect = TfidfVectorizer(min_df=1, stop_words="english")
#     tfidf = vect.fit_transform(user2_tags_list)
#     pairwise_similarity = tfidf * tfidf.T    
#     pairwise_similarity[l,l] = 0
#     df_col.append(pairwise_similarity[l].argmax())
#     user2_tags_list.pop(-1)

In [8]:
# pairwise_similarity[340,340] = 0
# print(pairwise_similarity[340].argmax())

In [9]:
temp = []
df_col = [] 
l = len(file_1)
c = 0

for i in range(l):
    temp.append(file_1['user1_Tags'][i])
    temp.append(file_1['user2_Tags'][i])
    vect = TfidfVectorizer(min_df=1)
    tfidf = vect.fit_transform(temp)
    pairwise_similarity = tfidf * tfidf.T   
#     pairwise_similarity[0,0] = 0
#     pairwise_similarity[1,1] = 0
    if pairwise_similarity[0,1] > 0 : 
        c += 1
        df_col.append('similar users based on aboutme and tags')
    else :
        df_col.append('users are similar based on aboutme but not on tags')
    temp.clear()

In [10]:
file_1['new_col'] = df_col

In [11]:
file_2 = file_1[file_1['new_col']=='similar users based on aboutme and tags']

In [12]:
file_2.head(10)

,index,Similar_Users,User1_id,User1_post,user1_Tags,user2_id,User2_post,user2_Tags,new_col
2,10,"(75, 33176)",75,[5933],machine-learning data-mining dataset,33176,[19546],dataset statistics,similar users based on aboutme and tags
8,136,"(1264, 9966)",1264,[10165],random-forest feature-extraction categorical-d...,9966,[6004],data-mining text-mining feature-selection feat...,similar users based on aboutme and tags
9,172,"(2647, 31043)",2647,"[2480, 2608, 2627, 10849, 12108, 12619, 13828,...",visualization javascript data-cleaning javascr...,31043,[37738],machine-learning neural-network deep-learning ...,similar users based on aboutme and tags
10,181,"(2723, 12771)",2723,"[2618, 2623, 5357, 8694, 9216, 10307, 10745, 1...",text-mining scraping r logistic-regression reg...,12771,"[15119, 15208]",machine-learning r data-mining programming r d...,similar users based on aboutme and tags
11,188,"(2830, 41366)",2830,[903],dataset statistics ab-test,41366,[24310],nlp dataset training,similar users based on aboutme and tags
12,202,"(2932, 62725)",2932,[26409],apache-spark apache-hadoop scala,62725,[42529],machine-learning apache-spark pyspark pipelines,similar users based on aboutme and tags
14,257,"(3577, 27868)",3577,[2302],machine-learning classification r clustering,27868,[16266],machine-learning python classification predict...,similar users based on aboutme and tags
18,318,"(6387, 15613)",6387,[3688],machine-learning text-mining,15613,"[9889, 10006, 10209, 10531, 11010, 11151, 1133...",machine-learning data-mining classification go...,similar users based on aboutme and tags
19,343,"(6606, 78784)",6606,[3781],python scikit-learn k-means dimensionality-red...,78784,[56731],machine-learning scikit-learn machine-learning...,similar users based on aboutme and tags
22,379,"(8214, 39588)",8214,"[5109, 5113, 20105]",machine-learning bigdata finance machine-learn...,39588,[24592],machine-learning deep-learning convnet convolu...,similar users based on aboutme and tags

In [13]:
file_2.columns

Index(['index', 'Similar_Users', 'User1_id', 'User1_post', 'user1_Tags',
       'user2_id', 'User2_post', 'user2_Tags', 'new_col'],
      dtype='object')

In [16]:
file_3 = file_2.drop(columns=['index', 'Similar_Users', 'user1_Tags', 'user2_Tags', 'new_col'])

file_3.to_csv('SimUsers_AbtMe_TAG.csv', index=False)